#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#navbar-start {
    display: flex;
    flex-direction: row;   
}
#navbar-end {
    display: flex;
    flex-direction: row;  
}
.menu-item {
    padding-left: 10px;
    padding-right: 10px;
}
#profile-pic {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    background-color: cyan;
    margin-left: 20px;
    margin-right: 10px;
    align-self: center;
}